Repository umputun/remark42, pull requests merged in 2020-04, with the labels that each got.

#628 image.Service and image.Store improvements
  backend/_example/memory_store/go.mod
  backend/_example/memory_store/go.sum
  backend/app/cmd/server.go
  backend/app/rest/api/rest.go
  backend/app/rest/api/rest_private.go
  backend/app/rest/api/rest_private_test.go
  backend/app/rest/api/rest_test.go
  backend/app/rest/proxy/image_test.go
  backend/app/store/admin/remote_test.go
  backend/app/store/image/bolt_store.go
  backend/app/store/image/bolt_store_test.go
  backend/app/store/image/fs_store.go
  backend/app/store/image/fs_store_test.go
  backend/app/store/image/image.go
  backend/app/store/image/image_mock.go
  backend/app/store/image/image_test.go
  backend/app/store/service/service_test.go
Labels: backend

#643 Fix back button in email subscription form
  frontend/app/components/comment-form/__subscribe-by-email/comment-form__subscribe-by-email.tsx
Labels: frontend

#639 Update vulnerable npm dependencies
  frontend/package-lock.json
Labels: frontend

#638 Add translation instructions
  README.md
  docs/README.md
  docs/translation.md
  frontend/Readme.md
Labels: documentation

#648 Encode email in subscribe request
  frontend/app/common/api.test.ts
  frontend/app/common/api.ts
Labels: frontend

#656 Add info about RAM requirements
  README.md
Labels: documentation

#660 Highlight comment when user went to it by link
  frontend/app/components/comment/_theme/_dark/comment_theme_dark.scss
  frontend/app/components/comment/_theme/_light/comment_theme_light.scss
  frontend/app/components/root/root.tsx
Labels: frontend

#663 Cut react devtools forwarding by webpack in production build
  docker-init.sh
  frontend/iframe.html
  frontend/webpack.config.js
Labels: frontend

#668 Adds background transition to .comment class
  frontend/app/components/comment/comment.scss
Labels: frontend

#671 Update dev dependencies
  frontend/.size-limit.js
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#687 serve proxified images disregarding if saving is enabled
  README.md
  backend/app/rest/proxy/image.go
  backend/app/rest/proxy/image_test.go
Labels: backend

#693 Image commit on start
  backend/_example/memory_store/accessor/image.go
  backend/_example/memory_store/accessor/image_test.go
  backend/_example/memory_store/server/image.go
  backend/_example/memory_store/server/image_test.go
  backend/_example/memory_store/server/rpc.go
  backend/app/cmd/server.go
  backend/app/rest/api/rest_private_test.go
  backend/app/rest/api/rest_test.go
  backend/app/store/image/bolt_store.go
  backend/app/store/image/bolt_store_test.go
  backend/app/store/image/fs_store.go
  backend/app/store/image/fs_store_test.go
  backend/app/store/image/image.go
  backend/app/store/image/image_mock.go
  backend/app/store/image/image_test.go
  backend/app/store/image/remote_store.go
  backend/app/store/image/remote_store_test.go
  backend/app/store/service/service.go
  backend/app/store/service/service_test.go
Labels: backend

#699 change golangci-lint format to github-actions for CI
  .github/workflows/ci-test-backend.yml
Labels: backend

#701 Commit proxy images same (delayed) way as normally uploaded ones
  backend/app/cmd/server.go
  backend/app/rest/proxy/image.go
  backend/app/rest/proxy/image_test.go
  backend/app/store/image/image.go
  backend/app/store/image/image_test.go
  backend/app/store/service/service_test.go
Labels: backend

#704 Enable gocritic linter and fix found issues
  backend/.golangci.yml
  backend/_example/memory_store/accessor/data.go
  backend/app/cmd/cleanup.go
  backend/app/cmd/server_test.go
  backend/app/main.go
  backend/app/migrator/disqus.go
  backend/app/migrator/native.go
  backend/app/migrator/native_test.go
  backend/app/migrator/wordpress.go
  backend/app/notify/notify_test.go
  backend/app/notify/telegram.go
  backend/app/rest/api/migrator.go
  backend/app/rest/api/rest_private_test.go
  backend/app/rest/api/rest_public_test.go
  backend/app/rest/api/rest_test.go
  backend/app/rest/api/rss_test.go
  backend/app/store/admin/admin.go
  backend/app/store/admin/remote.go
  backend/app/store/engine/bolt.go
  backend/app/store/image/bolt_store.go
  backend/app/store/image/bolt_store_test.go
  backend/app/store/image/fs_store.go
  backend/app/store/image/image.go
  backend/app/store/image/remote_store.go
  backend/app/store/service/restricted_words.go
  backend/app/store/service/service.go
  backend/app/store/service/service_test.go
  backend/app/store/service/tree.go
  backend/app/store/user.go
Labels: backend
