Repository umputun/remark42, pull requests merged in 2020-01, with the labels that each got.

#533 Add auto-changing theme for demo page
  frontend/index.ejs
Labels: frontend

#532 Refactor preloader
  frontend/app/components/preloader/index.ts
  frontend/app/components/preloader/preloader.test.tsx
  frontend/app/components/preloader/preloader.tsx
  frontend/app/components/root/root.tsx
  frontend/app/components/user-info/__preloader/user-info__preloader.scss
  frontend/app/components/user-info/last-comments-list.tsx
  frontend/deleteme.html
  frontend/iframe.html
Labels: frontend

#541 Allow voting for anonymous users
  frontend/app/common/static_store.ts
  frontend/app/common/types.ts
  frontend/app/components/comment/comment.test.tsx
  frontend/app/components/comment/comment.tsx
  frontend/app/testUtils/index.ts
Labels: frontend

#537 UI for email subscription
  frontend/.babelrc.js
  frontend/app/common/api.ts
  frontend/app/common/static_store.ts
  frontend/app/common/types.ts
  frontend/app/components/auth-panel/auth-panel.tsx
  frontend/app/components/button/_kind/_link/button_kind_link.scss
  frontend/app/components/button/_kind/_primary/button_kind_primary.scss
  frontend/app/components/button/_theme/_dark/button_theme_dark.scss
  frontend/app/components/button/button.scss
  frontend/app/components/button/button.tsx
  frontend/app/components/comment-form/__button/comment-form__button.scss
  frontend/app/components/comment-form/__subscribe-by-email/comment-form__subscribe-by-email.scss
  frontend/app/components/comment-form/__subscribe-by-email/comment-form__subscribe-by-email.test.tsx
  frontend/app/components/comment-form/__subscribe-by-email/comment-form__subscribe-by-email.tsx
  frontend/app/components/comment-form/__subscribe-by-email/index.ts
  frontend/app/components/comment-form/__subscribe-by-rss/comment-form__subscribe-by-rss.scss
  frontend/app/components/comment-form/__subscribe-by-rss/comment-form__subscribe-by-rss.test.tsx
  frontend/app/components/comment-form/__subscribe-by-rss/comment-form__subscribe-by-rss.tsx
  frontend/app/components/comment-form/__subscribe-by-rss/index.ts
  frontend/app/components/comment-form/comment-form.scss
  frontend/app/components/comment-form/comment-form.test.tsx
  frontend/app/components/comment-form/comment-form.tsx
  frontend/app/components/comment-form/index.ts
  frontend/app/components/comment/comment.tsx
  frontend/app/components/dropdown/__content/dropdown__content.scss
  frontend/app/components/dropdown/__item/dropdown__item.tsx
  frontend/app/components/dropdown/__item/index.ts
  frontend/app/components/dropdown/dropdown.tsx
  frontend/app/components/dropdown/index.ts
  frontend/app/components/input/input.tsx
  frontend/app/components/root/root.tsx
  frontend/app/hooks/useTheme.ts
  frontend/app/remark.tsx
  frontend/app/store/user/actions.ts
  frontend/app/store/user/reducers.ts
  frontend/app/store/user/types.ts
  frontend/app/testUtils/index.ts
  frontend/app/testUtils/mockApi.ts
  frontend/app/testUtils/mocks/user.ts
  frontend/app/utils/errorUtils.ts
  frontend/app/utils/isUserAnonymous.test.ts
  frontend/app/utils/isUserAnonymous.ts
Labels: frontend

#548 Fix position of "show more" button
  frontend/app/components/root/__show-more/root__show-more.scss
Labels: bug, frontend

#536 Unify SMTP settings in separate section
  README.md
  backend/app/cmd/cmd.go
  backend/app/cmd/server.go
  backend/app/cmd/server_test.go
  backend/app/main.go
  compose-dev-backend.yml
Labels: backend

#545 Collapse comment by thread border
  frontend/app/components/comment/__body/comment__body.scss
  frontend/app/components/comment/__info/comment__info.scss
  frontend/app/components/comment/_collapsed/comment_collapsed.scss
  frontend/app/components/comment/_view/_user/comment_view_user.scss
  frontend/app/components/comment/comment.scss
  frontend/app/components/comment/comment.tsx
  frontend/app/components/comment/connected-comment.tsx
  frontend/app/components/thread/__collapse/thread__collapse.scss
  frontend/app/components/thread/_theme_dark/thread_theme_dark.scss
  frontend/app/components/thread/index.ts
  frontend/app/components/thread/thread.scss
  frontend/app/components/thread/thread.tsx
Labels: frontend

#550 Update email templates
  README.md
  backend/app/notify/email.go
Labels: backend

#552 Fix score position and margin before blockquote
  frontend/app/components/comment/__score/comment__score.scss
  frontend/app/components/raw-content/raw-content.scss
Labels: frontend

#555 Update documentation for email capabilities
  docs/README.md
  docs/email.md
  docs/images/email_auth.png
  docs/images/email_notifications.png
Labels: documentation

#447 Preserving external images (issue #399)
  .golangci.yml
  README.md
  backend/app/cmd/server.go
  backend/app/rest/api/rest_private_test.go
  backend/app/rest/proxy/image.go
  backend/app/rest/proxy/image_test.go
  backend/app/store/image/bolt_store.go
  backend/app/store/image/fs_store.go
  backend/app/store/image/fs_store_test.go
  backend/app/store/image/image.go
  backend/app/store/image/image_mock.go
  backend/app/store/image/image_test.go
Labels: backend

#568 Do not render dummy for comment once it gets into viewport
  frontend/app/components/comment/comment.tsx
Labels: frontend

#573 Add subscription link support to notification email verification template
  backend/app/cmd/server.go
  backend/app/notify/email.go
  backend/app/notify/email_test.go
Labels: backend

#579 fix name line break and add styles for blockquote
  backend/app/notify/email.go
Labels: frontend

#578 Fix bugs in mobile view in reply mode
  frontend/app/components/comment/_replying/comment_replying.scss
  frontend/app/components/comment/comment.scss
Labels: frontend
