Repository umputun/remark42, pull requests merged in 2021-11, with the labels that each got.

#1162 Improve telegram notifications
  backend/app/cmd/server.go
  backend/app/notify/telegram.go
  backend/app/notify/telegram_test.go
  backend/app/rest/api/rest_private_test.go
Labels: backend

#1164 Clarify telegram notification flow
  backend/app/cmd/server.go
Labels: backend

#1160 Enable telegram notify trough writing bot a message
  backend/app/cmd/server.go
  backend/app/notify/notify.go
  backend/app/notify/telegram.go
  backend/app/notify/telegram_test.go
  backend/app/providers/telegram.go
  backend/app/providers/telegram_test.go
  backend/app/rest/api/rest.go
  backend/app/rest/api/rest_private.go
  backend/app/rest/api/rest_private_test.go
  backend/remark.rest
Labels: backend

#1166 Move privacy section of readme to the docs site
  README.md
  site/src/pages/index.md
Labels: documentation

#1165 Move more parts of Readme to the docs site
  README.md
  site/src/docs/backup/index.md
  site/src/docs/configuration/parameters/index.md
  site/src/docs/getting-started/installation/index.md
Labels: documentation

#1171 Use single loop for telegram auth and notify
  backend/app/cmd/server.go
Labels: backend

#1170 Fix typos in frontend code
  frontend/app/common/api.ts
  frontend/app/common/constants.ts
  frontend/app/common/fetcher.test.ts
  frontend/app/common/local-storage.test.ts
  frontend/app/common/static-store.ts
  frontend/app/common/types.ts
  frontend/app/components/auth/auth.spec.tsx
  frontend/app/components/auth/auth.tsx
  frontend/app/components/auth/components/oauth.tsx
  frontend/app/components/comment-form/comment-form.tsx
  frontend/app/components/comment/comment.test.tsx
  frontend/app/components/comment/connected-comment.tsx
  frontend/app/components/profile/profile.module.css
  frontend/app/components/profile/profile.tsx
  frontend/app/components/select/select.spec.tsx
  frontend/app/profile.ts
  frontend/app/store/comments/actions.ts
  frontend/app/typings/global.d.ts
  frontend/templates/markdown-help.html
  frontend/webpack.config.js
Labels: frontend

#1184 Update golangci-lint to 1.43.0, fix discovered issues
  .github/workflows/ci-test-backend.yml
  backend/.golangci.yml
  backend/_example/memory_store/accessor/data.go
  backend/_example/memory_store/accessor/image.go
  backend/_example/memory_store/accessor/image_test.go
  backend/_example/memory_store/server/image_test.go
  backend/app/cmd/backup.go
  backend/app/cmd/backup_test.go
  backend/app/cmd/cleanup.go
  backend/app/cmd/cmd.go
  backend/app/cmd/import.go
  backend/app/cmd/import_test.go
  backend/app/cmd/remap.go
  backend/app/cmd/remap_test.go
  backend/app/cmd/restore_test.go
  backend/app/cmd/server.go
  backend/app/cmd/server_test.go
  backend/app/main.go
  backend/app/main_test.go
  backend/app/migrator/backup.go
  backend/app/migrator/backup_test.go
  backend/app/migrator/disqus.go
  backend/app/migrator/mapper.go
  backend/app/migrator/migrator.go
  backend/app/migrator/migrator_test.go
  backend/app/migrator/wordpress.go
  backend/app/notify/telegram.go
  backend/app/notify/webhook.go
  backend/app/notify/webhook_test.go
  backend/app/rest/api/admin_test.go
  backend/app/rest/api/migrator_test.go
  backend/app/rest/api/rest_private_test.go
  backend/app/rest/api/rest_public.go
  backend/app/rest/api/rest_public_test.go
  backend/app/rest/api/rest_test.go
  backend/app/rest/api/ssl_test.go
  backend/app/rest/httperrors_test.go
  backend/app/rest/proxy/image.go
  backend/app/rest/proxy/image_test.go
  backend/app/rest/user_test.go
  backend/app/store/admin/remote_test.go
  backend/app/store/comment.go
  backend/app/store/engine/bolt.go
  backend/app/store/engine/remote_test.go
  backend/app/store/image/bolt_store.go
  backend/app/store/image/fs_store.go
  backend/app/store/image/fs_store_test.go
  backend/app/store/image/image.go
  backend/app/store/image/image_test.go
  backend/app/store/image/remote_store.go
  backend/app/store/image/remote_store_test.go
  backend/app/store/service/service_test.go
  backend/app/store/service/title_test.go
  backend/app/store/service/tree_test.go
  backend/app/templates/templates.go
Labels: backend
