Repository umputun/remark42, pull requests merged in 2021-09, with the labels that each got.

#1122 make TestService_UserReplies more robust
  backend/app/main_test.go
  backend/app/store/service/service_test.go
Labels: backend

#1124 Prevent data race within TestService_UserReplies
  backend/app/store/service/service_test.go
Labels: backend

#1127 bump vulnerable frontend dependencies
  frontend/package-lock.json
Labels: frontend

#1137 update site deps to the last versions
  site/.eleventy.js
  site/package.json
  site/yarn.lock
Labels: site
