Repository umputun/remark42, pull requests merged in 2021-08, with the labels that each got.

#1077 format md files
  site/.prettierrc
  site/src/docs/backup/url-migration/index.md
  site/src/docs/configuration/email/index.md
  site/src/docs/configuration/kubernetes/index.md
  site/src/docs/configuration/notifications/index.md
  site/src/docs/configuration/reproxy/index.md
  site/src/docs/configuration/subdomain/index.md
  site/src/docs/getting-started/installation/index.md
Labels: site

#1076 update docs nav definition
  site/.eleventy.js
  site/package.json
  site/src/data/layout.js
  site/src/docs/backup/automatic/index.md
  site/src/docs/backup/index.md
  site/src/docs/backup/manual/index.md
  site/src/docs/backup/migration/index.md
  site/src/docs/backup/restore/index.md
  site/src/docs/backup/url-migration/index.md
  site/src/docs/configuration/authorization/index.md
  site/src/docs/configuration/email/index.md
  site/src/docs/configuration/frontend/index.md
  site/src/docs/configuration/index.md
  site/src/docs/configuration/kubernetes/index.md
  site/src/docs/configuration/nginx/index.md
  site/src/docs/configuration/notifications/index.md
  site/src/docs/configuration/reproxy/index.md
  site/src/docs/configuration/subdomain/index.md
  site/src/docs/contributing/api/index.md
  site/src/docs/contributing/development/backend/index.md
  site/src/docs/contributing/development/frontend/index.md
  site/src/docs/contributing/development/index.md
  site/src/docs/contributing/index.md
  site/src/docs/contributing/technical-details/index.md
  site/src/docs/contributing/translations/index.md
  site/src/docs/docs.11tydata.js
  site/src/docs/getting-started/index.md
  site/src/docs/getting-started/installation/index.md
  site/src/docs/getting-started/system-requirements/index.md
  site/src/docs/nav.json
  site/src/includes/components/docs-aside.njk
  site/src/layouts/docs.njk
  site/yarn.lock
Labels: site

#1089 fix title on icon button
  frontend/app/components/icon-button/icon-button.tsx
Labels: frontend

#1086 set releases link on version in header
  site/src/includes/components/header.njk
Labels: site

#1096 docs: edit facebook oauth doc
  site/src/docs/configuration/authorization/index.md
Labels: documentation, site

#1101 clarify user and admin email instructions
  site/src/docs/configuration/email/index.md
Labels: documentation

#1108 bump backend auth module to fix telegram auth
  backend/_example/memory_store/go.sum
  backend/go.mod
  backend/go.sum
  backend/vendor/github.com/go-pkgz/auth/provider/apple.go
  backend/vendor/github.com/go-pkgz/auth/provider/telegram.go
  backend/vendor/modules.txt
Labels: backend

#1094 fix: constants
  frontend/app/common/constants.config.ts
  frontend/app/common/constants.ts
  frontend/app/counter.ts
Labels: frontend
