Repository umputun/remark42, pull requests merged in 2021-06, with the labels that each got.

#1027 Separate user and admin notifications
  README.md
  backend/app/cmd/server.go
  backend/app/cmd/server_test.go
  compose-dev-backend.yml
  docs/latest/email.md
  docs/latest/slack.md
  docs/latest/telegram.md
Labels: backend

#1015 post messages from iframe
  frontend/app/common/user-info-settings.ts
  frontend/app/components/auth-panel/auth-panel.tsx
  frontend/app/components/auth/auth.hooks.ts
  frontend/app/components/comment/comment.tsx
  frontend/app/components/dropdown/dropdown.tsx
  frontend/app/components/root/root.tsx
  frontend/app/components/user-info/user-info.tsx
  frontend/app/embed.ts
  frontend/app/remark.tsx
  frontend/app/store/user-info/actions.ts
  frontend/app/utils/parseQuery.ts
  frontend/app/utils/postMessage.ts
  frontend/templates/iframe.ejs
Labels: frontend

#1037 Clarification of notify comments and code
  backend/_example/memory_store/go.sum
  backend/app/cmd/server.go
  backend/app/notify/telegram.go
  backend/app/notify/telegram_test.go
  docs/latest/telegram.md
Labels: backend

#1042 Remove ability to set telegram API, clarify telegram notify params
  backend/app/cmd/server.go
  backend/app/main.go
  backend/app/notify/telegram.go
  backend/app/notify/telegram_test.go
Labels: backend

#1038 Add UserDetailTelegram support
  backend/_example/memory_store/accessor/data.go
  backend/_example/memory_store/accessor/data_test.go
  backend/_example/memory_store/accessor/image_test.go
  backend/app/notify/notify.go
  backend/app/notify/notify_test.go
  backend/app/rest/api/admin.go
  backend/app/store/engine/bolt.go
  backend/app/store/engine/bolt_test.go
  backend/app/store/engine/engine.go
  backend/app/store/service/service.go
  backend/app/store/service/service_test.go
Labels: backend

#1045 Fix telegram token server setting
  backend/app/cmd/server.go
Labels: backend, bug

#1050 Fix typos
  README.md
  docs/email.md
  docs/kubernetes.md
  docs/nginx-proxy.md
  docs/reproxy.md
  docs/slack.md
  docs/spa.md
  frontend/README.md
  site/src/docs/configuration/index.md
  site/src/docs/contributing/development-environment/index.md
  site/src/docs/contributing/guidlines/backend/index.md
  site/src/docs/contributing/guidlines/frontend/index.md
  site/src/docs/contributing/technical-details/index.md
  site/src/docs/getting-started/installation/index.md
  site/src/pages/index.md
  site/src/pages/redirects.md
Labels: documentation
