Repository umputun/remark42, pull requests merged in 2021-12, with the labels that each got.

#1199 Properly format email documentation
  site/src/docs/configuration/email/index.md
Labels: site

#1197 clarify telegram channel ID param and documentation
  backend/app/cmd/server.go
  site/src/docs/configuration/notifications/index.md
  site/src/docs/configuration/parameters/index.md
Labels: documentation, backend

#1196 Do not issue deprecation warning on notify.type by default
  backend/app/cmd/server.go
  backend/app/cmd/server_test.go
Labels: backend

#1201 Fix formatting for telegram reply notifications
  backend/app/notify/telegram.go
  backend/app/notify/telegram_test.go
Labels: bug, backend

#1203 Improve notifications documentation (telegram, webhook)
  backend/app/cmd/server.go
  site/src/docs/configuration/notifications/index.md
  site/src/docs/configuration/parameters/index.md
  site/src/docs/configuration/telegram/index.md
  site/src/docs/nav.json
Labels: documentation

#1204 Style fixes to the documentation and CLI params description
  backend/app/cmd/server.go
  backend/app/main.go
  site/src/docs/backup/automatic/index.md
  site/src/docs/backup/index.md
  site/src/docs/backup/manual/index.md
  site/src/docs/backup/migration/index.md
  site/src/docs/backup/restore/index.md
  site/src/docs/backup/url-migration/index.md
  site/src/docs/configuration/authorization/index.md
  site/src/docs/configuration/email/index.md
  site/src/docs/configuration/frontend/index.md
  site/src/docs/configuration/parameters/index.md
  site/src/docs/configuration/telegram/index.md
  site/src/docs/contributing/api/index.md
  site/src/docs/contributing/development/frontend/index.md
  site/src/docs/contributing/development/index.md
  site/src/docs/contributing/technical-details/index.md
  site/src/docs/contributing/translations/index.md
  site/src/docs/getting-started/installation/index.md
  site/src/docs/manuals/kubernetes/index.md
  site/src/docs/manuals/nginx/index.md
  site/src/docs/manuals/subdomain/index.md
  site/src/pages/index.md
Labels: documentation, site

#1206 Add container to a markdown table with overflow-x auto
  site/.eleventy.js
Labels: site
