Repository umputun/remark42, pull requests merged in 2022-05, with the labels that each got.

#1235 Protect anonymous comments from being changed by other users
  backend/app/cmd/server.go
Labels: bug, backend

#1358 Add missing RPC type of image storage to the documentation
  site/src/docs/configuration/parameters/index.md
Labels: documentation

#1361 bump go modules, fix StartTLS email notifications
  backend/_example/memory_store/go.mod
  backend/_example/memory_store/go.sum
  backend/app/notify/email_test.go
  backend/go.mod
  backend/go.sum
  backend/vendor/github.com/didip/tollbooth_chi/tollbooth_chi.go
  backend/vendor/github.com/go-chi/cors/utils.go
  backend/vendor/github.com/go-pkgz/email/email.go
  backend/vendor/github.com/go-pkgz/notify/email.go
  backend/vendor/github.com/go-pkgz/notify/telegram.go
  backend/vendor/github.com/go-pkgz/rest/README.md
  backend/vendor/github.com/go-pkgz/rest/benchmarks.go
  backend/vendor/go.mongodb.org/mongo-driver/mongo/bulk_write.go
  backend/vendor/go.mongodb.org/mongo-driver/mongo/collection.go
  backend/vendor/go.mongodb.org/mongo-driver/version/version.go
  backend/vendor/go.mongodb.org/mongo-driver/x/mongo/driver/ocsp/ocsp.go
  backend/vendor/go.mongodb.org/mongo-driver/x/mongo/driver/operation/delete.go
  backend/vendor/go.mongodb.org/mongo-driver/x/mongo/driver/operation/insert.go
  backend/vendor/go.mongodb.org/mongo-driver/x/mongo/driver/operation/update.go
  backend/vendor/golang.org/x/crypto/acme/acme.go
  backend/vendor/golang.org/x/crypto/acme/jws.go
  backend/vendor/golang.org/x/crypto/acme/rfc8555.go
  backend/vendor/modules.txt
Labels: backend
