Repository umputun/remark42, pull requests merged in 2022-04, with the labels that each got.

#1307 Improve getting started installation instructions
  site/src/docs/getting-started/installation/index.md
Labels: documentation

#1308 Add missing main component to frontend config examples
  site/src/docs/configuration/frontend/index.md
Labels: documentation

#1311 Improve notifications description in parameters doc
  site/src/docs/configuration/parameters/index.md
Labels: documentation

#1314 Make wider content on docs pages
  site/src/includes/components/docs-aside.njk
  site/src/layouts/docs.njk
  site/tailwind.config.js
Labels: site

#1313 Improve frontend docs
  site/src/docs/configuration/frontend/index.md
  site/src/docs/configuration/frontend/spa.md
  site/src/docs/getting-started/installation/index.md
  site/src/styles.css
Labels: documentation, site

#1317 use default system font
  frontend/.size-limit.js
  frontend/app/components/button/_kind/_link/button_kind_link.css
  frontend/app/components/comment-form/__field/comment-form__field.css
  frontend/app/components/comment/__action/comment__action.css
  frontend/app/components/comment/__control/comment__control.css
  frontend/app/components/comment/__controls/comment__controls.css
  frontend/app/components/comment/comment.css
  frontend/app/components/comment/comment.tsx
  frontend/app/components/list-comments/list-comments.module.css
  frontend/app/components/list-comments/list-comments.tsx
  frontend/app/components/raw-content/raw-content.css
  frontend/app/last-comments.tsx
  frontend/app/styles/global.css
  frontend/templates/last-comments.ejs
  frontend/templates/markdown-help.html
Labels: frontend

#1316 fix xss from iframe name
  frontend/app/utils/post-message.ts
  frontend/templates/iframe.ejs
Labels: frontend

#1319 Fix verify icon
  frontend/app/components/comment/__verification/_active/comment__verification_active.css
  frontend/app/components/comment/__verification/_active/comment__verification_active.svg
  frontend/app/components/comment/__verification/_clickable/comment__verification_clickable.css
  frontend/app/components/comment/__verification/comment__verification.css
  frontend/app/components/comment/__verification/comment__verification.svg
  frontend/app/components/comment/comment.module.css
  frontend/app/components/comment/comment.test.tsx
  frontend/app/components/comment/comment.tsx
  frontend/app/components/comment/styles.ts
  frontend/app/components/icons/verification.spec.tsx
  frontend/app/components/icons/verification.tsx
  frontend/app/components/verified.tsx
  frontend/app/styles/global.css
Labels: frontend

#1326 Speedup frontend tests
  frontend/app/components/auth-panel/auth-panel.test.tsx
  frontend/app/components/auth/auth.spec.tsx
  frontend/app/components/auth/components/oauth.spec.tsx
  frontend/app/components/avatar/avatar.spec.tsx
  frontend/app/components/comment-form/__subscribe-by-email/comment-form__subscribe-by-email.test.tsx
  frontend/app/components/comment-form/__subscribe-by-rss/comment-form__subscribe-by-rss.test.tsx
  frontend/app/components/comment-form/comment-form.test.tsx
  frontend/app/components/comment/comment.tsx
  frontend/app/components/profile/components/counter/counter.spec.tsx
  frontend/app/components/profile/profile.spec.tsx
  frontend/app/components/select/select.spec.tsx
  frontend/app/components/sort-picker.spec.tsx
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#1320 fix copy for latest safari
  frontend/app/common/copy.test.ts
  frontend/app/common/copy.ts
  frontend/app/components/comment-form/__subscribe-by-email/comment-form__subscribe-by-email.tsx
  frontend/app/components/comment-form/comment-form.tsx
  frontend/app/components/comment/comment.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#1330 update comment actions block
  frontend/app/common/types.ts
  frontend/app/components/auth/components/button.module.css
  frontend/app/components/auth/components/button.tsx
  frontend/app/components/comment/__action/_type/_collapse/comment__action_type_collapse.css
  frontend/app/components/comment/__action/comment__action.css
  frontend/app/components/comment/__control/_select-label/comment__control_select-label.css
  frontend/app/components/comment/__control/_select/comment__control_select.css
  frontend/app/components/comment/__control/_view/_inactive/comment__control_view_inactive.css
  frontend/app/components/comment/__control/comment__control.css
  frontend/app/components/comment/__controls/comment__controls.css
  frontend/app/components/comment/__edit-timer/comment__edit-timer.css
  frontend/app/components/comment/comment-actions.module.css
  frontend/app/components/comment/comment-actions.spec.tsx
  frontend/app/components/comment/comment-actions.tsx
  frontend/app/components/comment/comment.module.css
  frontend/app/components/comment/comment.test.tsx
  frontend/app/components/comment/comment.tsx
  frontend/app/components/comment/getBlockingDurations.ts
  frontend/app/components/comment/styles.ts
  frontend/app/components/countdown.tsx
  frontend/app/components/countdown/index.tsx
  frontend/app/components/profile/profile.tsx
  frontend/app/components/root/__pinned-comments/root__pinned-comments.css
  frontend/app/components/select/select.module.css
  frontend/app/components/select/select.tsx
  frontend/app/components/sort-picker.spec.tsx
  frontend/app/locales/ar.json
  frontend/app/locales/be.json
  frontend/app/locales/bg.json
  frontend/app/locales/bp.json
  frontend/app/locales/de.json
  frontend/app/locales/en.json
  frontend/app/locales/es.json
  frontend/app/locales/fi.json
  frontend/app/locales/fr.json
  frontend/app/locales/it.json
  frontend/app/locales/ja.json
  frontend/app/locales/ko.json
  frontend/app/locales/pl.json
  frontend/app/locales/ru.json
  frontend/app/locales/tr.json
  frontend/app/locales/ua.json
  frontend/app/locales/vi.json
  frontend/app/locales/zh.json
  frontend/app/styles/global.css
  frontend/app/utils/exclude.ts
Labels: frontend

#1334 Replace numbers with proper HTTP status codes in tests
  backend/app/cmd/avatar_test.go
  backend/app/cmd/cleanup.go
  backend/app/cmd/cleanup_test.go
  backend/app/cmd/cmd.go
  backend/app/cmd/import_test.go
  backend/app/cmd/remap_test.go
  backend/app/cmd/restore_test.go
  backend/app/cmd/server.go
  backend/app/cmd/server_test.go
  backend/app/main_test.go
  backend/app/migrator/commento.go
  backend/app/migrator/disqus.go
  backend/app/migrator/native.go
  backend/app/migrator/native_test.go
  backend/app/migrator/wordpress.go
  backend/app/notify/slack.go
  backend/app/notify/slack_test.go
  backend/app/notify/webhook_test.go
  backend/app/rest/api/admin.go
  backend/app/rest/api/admin_test.go
  backend/app/rest/api/migrator.go
  backend/app/rest/api/migrator_test.go
  backend/app/rest/api/rest.go
  backend/app/rest/api/rest_private.go
  backend/app/rest/api/rest_private_test.go
  backend/app/rest/api/rest_public.go
  backend/app/rest/api/rest_public_test.go
  backend/app/rest/api/rest_test.go
  backend/app/rest/api/rss.go
  backend/app/rest/api/rss_test.go
  backend/app/rest/api/ssl_test.go
  backend/app/rest/httperrors_test.go
  backend/app/rest/user.go
  backend/app/store/comment_test.go
  backend/app/store/engine/bolt.go
  backend/app/store/engine/bolt_test.go
  backend/app/store/engine/remote.go
  backend/app/store/engine/remote_test.go
  backend/app/store/formatter_test.go
  backend/app/store/image/bolt_store_test.go
  backend/app/store/image/fs_store.go
  backend/app/store/image/fs_store_test.go
  backend/app/store/image/image.go
  backend/app/store/image/image_test.go
  backend/app/store/service/restricted_words_test.go
  backend/app/store/service/service.go
  backend/app/store/service/service_test.go
  backend/app/store/service/title_test.go
  backend/app/store/service/tree.go
  backend/app/store/service/tree_test.go
  backend/app/store/user.go
  backend/app/store/user_test.go
Labels: backend

#1335 Replace errors package with fmt.Errorf
  backend/_example/memory_store/accessor/admin.go
  backend/_example/memory_store/accessor/data.go
  backend/_example/memory_store/accessor/image.go
  backend/_example/memory_store/go.mod
  backend/app/cmd/avatar.go
  backend/app/cmd/avatar_test.go
  backend/app/cmd/backup.go
  backend/app/cmd/cleanup.go
  backend/app/cmd/cmd.go
  backend/app/cmd/import.go
  backend/app/cmd/remap.go
  backend/app/cmd/server.go
  backend/app/migrator/backup.go
  backend/app/migrator/commento.go
  backend/app/migrator/commento_test.go
  backend/app/migrator/disqus.go
  backend/app/migrator/migrator.go
  backend/app/migrator/native.go
  backend/app/migrator/wordpress.go
  backend/app/notify/email.go
  backend/app/notify/email_test.go
  backend/app/notify/notify_test.go
  backend/app/notify/slack.go
  backend/app/notify/telegram.go
  backend/app/notify/telegram_test.go
  backend/app/notify/webhook.go
  backend/app/notify/webhook_test.go
  backend/app/providers/telegram_test.go
  backend/app/rest/api/admin.go
  backend/app/rest/api/migrator.go
  backend/app/rest/api/rest.go
  backend/app/rest/api/rest_private.go
  backend/app/rest/api/rest_private_test.go
  backend/app/rest/api/rest_public.go
  backend/app/rest/api/rest_test.go
  backend/app/rest/api/rss.go
  backend/app/rest/httperrors_test.go
  backend/app/rest/proxy/image.go
  backend/app/rest/user.go
  backend/app/store/admin/admin.go
  backend/app/store/engine/bolt.go
  backend/app/store/image/bolt_store.go
  backend/app/store/image/fs_store.go
  backend/app/store/image/image.go
  backend/app/store/service/service.go
  backend/app/store/service/service_test.go
  backend/app/store/service/title.go
  backend/app/store/user_test.go
Labels: backend
