Repository umputun/remark42, pull requests merged in 2022-07, with the labels that each got.

#1399 Add documentation on running remark42 on a separate domain
  site/src/docs/manuals/separate-domain/index.md
  site/src/docs/nav.json
Labels: documentation

#1396 fix broken deps
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#1394 Fix email autofill in subscription popup
  frontend/app/components/auth/auth.spec.tsx
  frontend/app/components/auth/auth.tsx
  frontend/app/components/auth/auth.utils.ts
  frontend/app/components/comment-form/__subscribe-by-email/comment-form__subscribe-by-email.test.tsx
  frontend/app/components/comment-form/__subscribe-by-email/comment-form__subscribe-by-email.tsx
  frontend/app/store/user/actions.ts
Labels: bug, frontend

#1403 up node version
  .github/workflows/ci-frontend.yml
  Dockerfile
  Dockerfile.artifacts
  frontend/.nvmrc
  frontend/package.json
  site/src/docs/contributing/development/frontend/index.md
Labels: frontend

#1405 update go-pkgz/auth module to fix dev provider work
  .github/workflows/ci-test-backend.yml
  backend/_example/memory_store/go.mod
  backend/_example/memory_store/go.sum
  backend/go.mod
  backend/go.sum
  backend/vendor/github.com/go-pkgz/auth/provider/dev_provider.go
  backend/vendor/github.com/go-pkgz/auth/provider/telegram.go
  backend/vendor/github.com/microcosm-cc/bluemonday/LICENSE.md
  backend/vendor/github.com/microcosm-cc/bluemonday/README.md
  backend/vendor/github.com/microcosm-cc/bluemonday/css/handlers.go
  backend/vendor/github.com/microcosm-cc/bluemonday/helpers.go
  backend/vendor/github.com/microcosm-cc/bluemonday/sanitize.go
  backend/vendor/modules.txt
Labels: backend

#1407 Fix iframe height update on slow connection
  frontend/app/components/root/root.tsx
Labels: frontend

#1404 Switch to pnpm
  .github/workflows/ci-frontend-size-limit.yml
  .github/workflows/ci-frontend.yml
  Dockerfile
  Dockerfile.artifacts
  frontend/app/components/auth/auth.spec.tsx
  frontend/app/components/comment-form/comment-form.spec.tsx
  frontend/app/components/profile/profile.spec.tsx
  frontend/app/components/select/select.spec.tsx
  frontend/app/components/select/select.tsx
  frontend/jest.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/tsconfig.json
  frontend/webpack.config.js
Labels: frontend

#1426 Do not sanitise the original comment markdown
  backend/app/rest/api/rest_private_test.go
  backend/app/store/comment.go
  site/src/docs/contributing/api/index.md
Labels: backend

#1432 Update backup documentation
  docker-compose.yml
  site/src/docs/backup/automatic/index.md
  site/src/docs/backup/backup/index.md
  site/src/docs/backup/index.md
  site/src/docs/backup/manual/index.md
  site/src/docs/backup/migration/index.md
  site/src/docs/backup/restore/index.md
  site/src/docs/backup/url-migration/index.md
  site/src/docs/contributing/technical-details/index.md
  site/src/docs/manuals/separate-domain/index.md
  site/src/docs/nav.json
Labels: documentation

#1431 Move common options to cmd.go
  backend/app/cmd/backup.go
  backend/app/cmd/cleanup.go
  backend/app/cmd/cmd.go
  backend/app/cmd/import.go
  backend/app/cmd/remap.go
  backend/app/cmd/restore.go
Labels: backend

#1445 Fix unsubscribe template filename
  backend/app/rest/api/rest_private.go
Labels: backend

#1443 Don't enable telegram user notifications alongside auth
  backend/app/cmd/server.go
Labels: backend

#1442 Get rid of getstarted.html mentions
  backend/app/rest/api/rest.go
  backend/app/rest/api/rest_public.go
  backend/app/rest/api/rest_test.go
Labels: backend

#1441 Remove mod=vendor from go build directives as it's no longer actual
  .github/workflows/ci-backend.yml
  Dockerfile
  Dockerfile.artifacts
  Makefile
  backend/app/store/engine/engine.go
Labels: backend

#1450 Rewrite email documentation, elaborate on how to replace templates
  site/src/docs/configuration/email/images/error_template.png
  site/src/docs/configuration/email/index.md
Labels: documentation

#1409 add turborepo
  frontend/.gitignore
  frontend/.lintstagedrc.js
  frontend/apps/remark42/.lintstagedrc.cjs
  frontend/apps/remark42/package.json
  frontend/pnpm-lock.yaml
  frontend/turbo.json
Labels: frontend

#1444 Move templates from rakyll/statik to go:embed
  Dockerfile
  Dockerfile.artifacts
  backend/app/cmd/server.go
  backend/app/cmd/server_test.go
  backend/app/notify/email.go
  backend/app/notify/email_test.go
  backend/app/rest/api/rest.go
  backend/app/rest/api/rest_private.go
  backend/app/rest/api/rest_private_test.go
  backend/app/rest/httperrors.go
  backend/app/rest/httperrors_test.go
  backend/app/store/formatter.go
  backend/app/templates/static/email_confirmation_login.html.tmpl
  backend/app/templates/static/email_confirmation_subscription.html.tmpl
  backend/app/templates/static/email_reply.html.tmpl
  backend/app/templates/static/email_unsubscribe.html.tmpl
  backend/app/templates/static/error_response.html.tmpl
  backend/app/templates/templates.go
  backend/app/templates/templates_test.go
  site/src/docs/configuration/email/index.md
  site/src/docs/contributing/backend/index.md
Labels: backend
