Repository umputun/remark42, pull requests merged in 2022-09, with the labels that each got.

#1464 e2e tests
  .dockerignore
  .github/workflows/e2e-tests.yml
  .gitignore
  compose-e2e-test.yml
  frontend/.dockerignore
  frontend/Dockerfile.e2e
  frontend/e2e/.gitignore
  frontend/e2e/package.json
  frontend/e2e/playwright.config.ts
  frontend/e2e/prettier.config.js
  frontend/e2e/tests/post-comment.spec.ts
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Labels: enhancement, frontend

#1478 Allow dashes in site ID when validating email auth request
  backend/app/rest/api/rest.go
  backend/app/rest/api/rest_test.go
Labels: bug, backend

#1479 Bump mockery from v1.1.2 to v2.14.0
  backend/app/store/engine/engine.go
  backend/app/store/engine/engine_mock.go
  backend/app/store/image/image.go
  backend/app/store/image/image_mock.go
Labels: backend

#1488 fix selected item on <select>
  frontend/apps/remark42/app/components/select/select.spec.tsx
  frontend/apps/remark42/app/components/select/select.tsx
  frontend/apps/remark42/app/components/sort-picker.spec.tsx
Labels: frontend

#1500 Call admin store with a proper key
  backend/app/cmd/server.go
  backend/app/store/service/service.go
Labels: bug, backend

#1501 Fix RPC engine work with ListFlags method
  backend/_example/memory_store/server/data_test.go
  backend/app/store/engine/remote.go
  backend/app/store/engine/remote_test.go
Labels: bug, backend
