Repository umputun/remark42, pull requests merged in 2022-08, with the labels that each got.

#1446 Move static web files from rakyll/statik to go:embed
  .gitignore
  Dockerfile
  Dockerfile.artifacts
  backend/app/cmd/server.go
  backend/app/cmd/web/index.html
  backend/app/rest/api/rest.go
  backend/go.mod
  backend/go.sum
  backend/vendor/github.com/rakyll/statik/LICENSE
  backend/vendor/github.com/rakyll/statik/fs/fs.go
  backend/vendor/github.com/rakyll/statik/fs/walk.go
  backend/vendor/modules.txt
  docker-init.sh
  site/Dockerfile
  site/src/docs/contributing/backend/index.md
Labels: backend

#1429 disable color-scheme on remark iframe
  frontend/apps/remark42/app/utils/create-iframe.ts
Labels: frontend

#1390 Add api sdk
  .github/workflows/ci-build.yml
  .github/workflows/ci-frontend-api.yml
  frontend/package.json
  frontend/packages/api/.eslintignore
  frontend/packages/api/.eslintrc.cjs
  frontend/packages/api/.gitignore
  frontend/packages/api/.lintstagedrc.cjs
  frontend/packages/api/.npmignore
  frontend/packages/api/.nvmrc
  frontend/packages/api/.prettierrc
  frontend/packages/api/README.md
  frontend/packages/api/clients/admin.ts
  frontend/packages/api/clients/auth.ts
  frontend/packages/api/clients/index.ts
  frontend/packages/api/clients/public.ts
  frontend/packages/api/consts.ts
  frontend/packages/api/index.ts
  frontend/packages/api/lib/cookies.ts
  frontend/packages/api/lib/fetcher.ts
  frontend/packages/api/package.json
  frontend/packages/api/tests/clients/admin.test.ts
  frontend/packages/api/tests/clients/auth.test.ts
  frontend/packages/api/tests/clients/index.test.ts
  frontend/packages/api/tests/clients/public.test.ts
  frontend/packages/api/tests/index.test.ts
  frontend/packages/api/tests/lib/fetcher.test.ts
  frontend/packages/api/tests/setup.ts
  frontend/packages/api/tests/test-utils.ts
  frontend/packages/api/tsconfig.eslint.json
  frontend/packages/api/tsconfig.json
  frontend/packages/api/vitest.config.mjs
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
Labels: frontend

#1467 Proper grammar for ADMIN_PASSWD parameter notes
  docker-compose.yml
  site/src/docs/contributing/backend/index.md
Labels: documentation

#1466 Remove duplicated docker-compose.yml from parameters doc
  site/src/docs/configuration/parameters/index.md
Labels: documentation

#1474 Add compose files to dockerignore, remove defaults from frontend compose
  .dockerignore
  compose-dev-frontend.yml
Labels: backend
