Repository umputun/remark42, pull requests merged in 2023-01, with the labels that each got.

#1557 Make the email token tooltip more informative
  frontend/apps/remark42/app/components/auth/auth.messsages.ts
  frontend/apps/remark42/app/components/auth/auth.spec.tsx
  frontend/apps/remark42/app/components/comment-form/__subscribe-by-email/comment-form__subscribe-by-email.tsx
  frontend/apps/remark42/app/locales/ar.json
  frontend/apps/remark42/app/locales/be.json
  frontend/apps/remark42/app/locales/bg.json
  frontend/apps/remark42/app/locales/bp.json
  frontend/apps/remark42/app/locales/cs.json
  frontend/apps/remark42/app/locales/de.json
  frontend/apps/remark42/app/locales/en.json
  frontend/apps/remark42/app/locales/es.json
  frontend/apps/remark42/app/locales/fi.json
  frontend/apps/remark42/app/locales/fr.json
  frontend/apps/remark42/app/locales/it.json
  frontend/apps/remark42/app/locales/ja.json
  frontend/apps/remark42/app/locales/ko.json
  frontend/apps/remark42/app/locales/pl.json
  frontend/apps/remark42/app/locales/ru.json
  frontend/apps/remark42/app/locales/th.json
  frontend/apps/remark42/app/locales/tr.json
  frontend/apps/remark42/app/locales/ua.json
  frontend/apps/remark42/app/locales/vi.json
  frontend/apps/remark42/app/locales/zh-tw.json
  frontend/apps/remark42/app/locales/zh.json
Labels: frontend

#1554 Make Close() calls idempotent
  backend/_example/memory_store/accessor/data_test.go
  backend/_example/memory_store/go.mod
  backend/_example/memory_store/go.sum
  backend/_example/memory_store/server/data_test.go
  backend/app/notify/notify.go
  backend/app/notify/notify_test.go
  backend/app/store/engine/bolt_test.go
  backend/app/store/engine/remote_test.go
  backend/app/store/image/image_test.go
  backend/app/store/service/service_test.go
  backend/app/store/service/title_test.go
  backend/go.mod
  backend/go.sum
  backend/vendor/github.com/go-pkgz/auth/.golangci.yml
  backend/vendor/github.com/go-pkgz/auth/README.md
  backend/vendor/github.com/go-pkgz/auth/avatar/gridfs.go
  backend/vendor/github.com/go-pkgz/auth/avatar/localfs.go
  backend/vendor/github.com/go-pkgz/auth/provider/custom_server.go
  backend/vendor/github.com/go-pkgz/auth/provider/dev_provider.go
  backend/vendor/github.com/go-pkgz/email/email.go
  backend/vendor/github.com/go-pkgz/lcw/.golangci.yml
  backend/vendor/github.com/go-pkgz/lcw/README.md
  backend/vendor/github.com/go-pkgz/lcw/cache.go
  backend/vendor/github.com/go-pkgz/lcw/internal/cache/cache.go
  backend/vendor/github.com/hashicorp/golang-lru/.golangci.yml
  backend/vendor/github.com/hashicorp/golang-lru/2q.go
  backend/vendor/github.com/hashicorp/golang-lru/LICENSE
  backend/vendor/github.com/hashicorp/golang-lru/README.md
  backend/vendor/github.com/hashicorp/golang-lru/arc.go
  backend/vendor/github.com/hashicorp/golang-lru/lru.go
  backend/vendor/github.com/hashicorp/golang-lru/simplelru/lru.go
  backend/vendor/github.com/hashicorp/golang-lru/simplelru/lru_interface.go
  backend/vendor/github.com/hashicorp/golang-lru/testing.go
  backend/vendor/modules.txt
Labels: backend

#1558 Add backend support for Apple auth provider
  backend/app/cmd/server.go
  backend/app/cmd/server_test.go
  backend/app/cmd/testdata/apple.p8
  backend/go.mod
  backend/go.sum
  backend/vendor/github.com/go-pkgz/auth/provider/apple.go
  backend/vendor/modules.txt
  site/src/docs/configuration/authorization/index.md
  site/src/docs/configuration/parameters/index.md
  site/src/pages/index.md
Labels: backend

#1559 Add apple bad key test, fix key location
  backend/app/cmd/server.go
  backend/app/cmd/server_test.go
  backend/app/cmd/testdata/apple-bad.p8
  site/src/docs/configuration/authorization/index.md
  site/src/docs/configuration/parameters/index.md
Labels: backend

#1564 Fix typos in frontend code
  frontend/apps/remark42/app/common/constants.ts
  frontend/apps/remark42/app/common/fetcher.ts
  frontend/apps/remark42/app/components/comment/comment.tsx
  frontend/apps/remark42/app/components/profile/profile.tsx
  frontend/apps/remark42/app/store/thread/utils.ts
  frontend/apps/remark42/app/utils/post-message.ts
  frontend/apps/remark42/templates/privacy.html
  frontend/apps/remark42/webpack.config.js
  site/src/docs/contributing/frontend/index.md
Labels: documentation, frontend

#1568 Add anti-spam documentation
  site/src/docs/manuals/spam/index.md
  site/src/docs/nav.json
Labels: documentation

#1566 Move frontend nvmrc to /frontend/
  frontend/.nvmrc
  frontend/packages/api/.nvmrc
Labels: frontend

#1572 Use the request body for email subscription endpoints
  backend/app/rest/api/rest_private.go
  backend/app/rest/api/rest_private_test.go
  backend/remark.rest
Labels: backend

#1574 Don't verify subscription email once more for email users
  backend/app/rest/api/rest_private.go
  backend/app/rest/api/rest_private_test.go
  backend/app/rest/api/rest_test.go
  backend/remark.rest
Labels: backend

#1563 Cleanup of the frontend code
  frontend/apps/remark42/app/common/api.ts
  frontend/apps/remark42/app/common/cookies.ts
  frontend/apps/remark42/app/common/fetcher.ts
  frontend/apps/remark42/app/common/types.ts
  frontend/apps/remark42/app/components/auth/auth.hooks.ts
  frontend/apps/remark42/app/components/comment-form/__subscribe-by-email/comment-form__subscribe-by-email.tsx
  frontend/apps/remark42/app/components/comment-form/comment-form.tsx
  frontend/apps/remark42/app/components/comment/comment-votes.spec.tsx
  frontend/apps/remark42/app/components/comment/comment-votes.tsx
  frontend/apps/remark42/app/components/comment/comment.tsx
  frontend/apps/remark42/app/components/root/root.tsx
  frontend/apps/remark42/app/components/settings/settings.tsx
  frontend/apps/remark42/app/components/textarea-autosize.tsx
  frontend/apps/remark42/app/hooks/useTheme.ts
  frontend/apps/remark42/app/typings/global.d.ts
  frontend/apps/remark42/app/utils/bench.ts
  frontend/apps/remark42/app/utils/debug-node.ts
  frontend/apps/remark42/app/utils/derequire.ts
  frontend/apps/remark42/app/utils/replaceSelection.ts
  frontend/apps/remark42/app/utils/shallowCompare.ts
  frontend/apps/remark42/templates/comments.ejs
  frontend/apps/remark42/templates/iframe.ejs
Labels: frontend

#1571 Improve frontend configuration parameters documentation
  frontend/apps/remark42/app/typings/global.d.ts
  site/src/docs/configuration/frontend/index.md
Labels: documentation, frontend

#1581 docs: added Astro w/Svelte Components Integration
  site/src/docs/manuals/integration-with-astro/index.md
  site/src/docs/nav.json
Labels: documentation

#1583 Add test JWT token generation instructions
  backend/app/rest/api/rest_test.go
Labels: backend
